<h1 class="name-heading">
    <span class="magenta">Content Creation</span>
</h1>
<div class="content">
<span class="picture" title="My Mascot: GoobCube!"></span>
<h2 class="paragraph">
    <span class="satin">As a content creator, I engage in community and conversation bringing in
        people with various interests and backgrounds. My content branches from
        speedruns, gaming, creative, programming, or even just chatting streams.
        I'm an individual who really prides myself on the welcoming and wholesome
        community that I have brought together. I always aim to be positive and optimistic
        no matter the case, and spread happiness wherever I can.
    <br>
    <a href="https://twitch.tv/goobisgabe" target="_blank">
    Check me out on Twitch if you want to chat!</a></span>
</h2>
</div>