<!-- Module for contents -->

<h1 class="name-heading">
    Gabriel
    <span class="cyan">“</span>
    <span class="magenta">Gabe</span>
    <span class="yellow">”</span>
    Harper
</h1>
<h2 class="sub-headers">
    <span class="cyan satin"><a routerLink="/development">Full-Stack Developer <div class="arrow">⫸</div></a></span>
    <span class="magenta satin"><a routerLink="/content">Content Creator <div class="arrow">⫸</div></a></span>
    <span class="yellow satin"><a routerLink="/photography">Photographer <div class="arrow">⫸</div></a></span>
</h2>