<h1 class="name-heading">
    <div class="back" routerLink="/home">
        ⇦
    </div>
    <span class="header">More on Me!</span>
</h1>
<div class="content">
    <span class="picture"></span>
    <h2 class="paragraph">
        <span class="satin">
            I'm Gabe, and for as long as I can remember, I've been immersed with computers, whether it's
            through graphic design, content creation, spreadsheets, or full-stack development.
            I have a genuine passion for the creative flow, allowing me to pursue various ambitions. I find joy in
            diving into spreadsheets, and I have a deep appreciation for art and design. The satisfaction comes from the
            act of creation itself, and I take pride in making things, including physical
            items like stickers and other crafts as well!
        </span>
    </h2>
    

</div>