.name-heading {
  user-select: none;
  font-family: "CoreMellow77CnExtraBoldW05-It", sans-serif !important;
  font-size: 3.5em;
  margin-bottom: -25px;
  margin-top: 0px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px #000;
  position: sticky;
  top: 0;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 255) 100%
  );
}

.paragraph {
  user-select: none;
  font-size: 2em;
  font-weight: bolder;
  -webkit-text-stroke: 1px #000000;
  margin: 10;
  padding: 0 0.5em 0 0.5em;
  scroll-snap-align: start;
  span {
    display: block;
    a {
      text-decoration: none;
    }
  }
  font-family: "CoreMellow37CnLightW05-Rg", sans-serif !important;
}

.satin {
  font-family: "CoreMellowW01-79CmXBold", sans-serif !important;
  color: white;
}

.back {
  position: absolute;
  float: left;
  margin-left: 5%;
}

.content {
  // display: flex;
  // flex-direction: row;
}

.picture {
  height: 250px;
  min-width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  // margin-top: 25px;
  content: url("/assets/images/Me.webp");
  float: right;
}

/* Media Query for desktop appearance */
@media (max-width: 1100px) {
}

/* Media Query for iPad */
@media (max-width: 768px) {
}

/* Media Query for phones */
@media (max-width: 500px) {
  .name-heading{
    // margin-top: 0;
  }
  .header{
    margin-left: 40px;
  }
  .paragraph{
    font-size: 1.5em;
    text-align: left;
  }
  .picture {
    height: 150px;
    min-width: unset;
  }
}
