<!-- Module for contents -->
<div class="back">
    <h1><a routerLink="/home" title="Go Back">&#171;</a></h1>
</div>
<h1 class="name-heading">
    <span class="cyan">Full-Stack Development</span>
</h1>
<h2 class="sub-headers">
    <span class="paragraph">I am a <div class="cyan">motivated</div> full-stack developer that has strong passion for
        creating effective, and <div class="cyan">innovative</div> code.
        My talents with <div class="cyan">Java</div> paired with a background in web and <div class="cyan">graphic
            design</div> allow me to deliver results that are <div class="cyan">high quality</div>, and meet
        standards.</span>
    <div class="works">
        <a routerLink="/development/works">
            My Works...
            <div class="arrow">
                &#187;
            </div>
        </a>
    </div>

</h2>