.name-heading {
  font-family: "CoreMellow77CnExtraBoldW05-It", sans-serif !important;
  font-size: 3.5em;
  margin-bottom: -25px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px #000;
  position: sticky;
  top: 0;
  background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,255) 100%);
}

.sub-headers {
  font-size: 2.5em;
  font-weight: bolder;
  -webkit-text-stroke: 1px #000000;
  margin: 10;
  padding: 0 0.5em 0 0.5em;
  scroll-snap-align: start;
  span {
      display: block;
      a {
          text-decoration: none;
      }
  }
  font-family: "CoreMellow37CnLightW05-Rg", sans-serif !important;
}

.cyan {
  -webkit-text-fill-color: cyan;
  display: inline;
  :visited {
      -webkit-text-fill-color: cyan;
  }
}

.works {
  
  margin-top: 2em;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px #FFFFFF88;
  cursor: pointer;
}

.satin {
  font-family: "CoreMellowW01-79CmXBold", sans-serif !important;
  color: white;
}


.works-content {
  display: none;
  /* Add styling for your works content */
}

.visible {
  display: block;
}
